body {
    background-color: black; 
    color: aliceblue;
    font-weight: bold;
    font-style: sans-serif;
    
}
#headNForm {
    margin: 10% 25% 10% 25%;
}
#realIP ,#locationButton {
    color: aliceblue;
    padding: 5px;
    background-color: green;
}